/.stack-work/
/dist/
/generated-docs/
/node_modules/
/output/
/client/static/css/bundle.css
/client/static/dist/
/client/static/js/bundle.js
/client/static/product-images/
/server/data/
/server/database/dumps/
/server/test/requests/
npm-debug.log
run-server
upgrade-db
test
test-watch
main.config
test.config