@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

a {
  @apply text-blue underline;
}

a:hover {
  @apply text-blue-dark underline;
}

button {
  @apply border bg-grey-light border-grey rounded-sm py-1 px-2 text-grey-darkest;
}

.nudge-d-1 {
  position: relative;
  top: 1px;
}

.nudge-d-2 {
  position: relative;
  top: 2px;
}

button:hover {
  @apply bg-grey border-grey-dark text-black;
}

button:active {
  /* @apply shadow-inner; */
}

/* button.button-icon {
  @apply px-2;
} */

button.button-icon svg {
  /* @apply mr-0; */
}

button[disabled], button[disabled]:hover {
  @apply bg-grey-light-2 text-grey-dark border-grey-light cursor-default;
}

input[type="text"] {
  @apply border border-grey px-1;
}

select {
  @apply border border-grey px-1;
}

.field label:after {
  content: ':';
}

.field.invalid label, .field.invalid .money-input {
  @apply text-red;
}

.field.invalid input[type="text"] {
  @apply border-red border-2;
}

.bg-img-household {
  background-image: url(/img/house.svg);
}

.bg-img-product {
  background-image: url(/img/bottle.svg);
}

.bg-img-order {
  background-image: url(/img/cart.svg);
}

.bg-img-household-order {
  background-image: url(/img/list.svg);
}

.bg-img-edit {
  background-image: url(/img/edit.svg);
}

.rotating {
  -webkit-animation: rotate 1.5s linear infinite; 
          animation: rotate 1.5s linear infinite; 
}

@-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
@keyframes         rotate{ to{        transform: rotate(360deg); } }

.crossed-out {
  position: relative;
}

.crossed-out::after {
  position: absolute;
  content: '.';
  color: transparent;
  left: 0.25rem;
  right: 0.25rem;
  z-index: -1;
  @apply border-grey-dark border-b;
}