@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

table, table tr, table td { border-collapse:collapse;border-spacing:0; }
table, table tr, table td { padding:0;border:none; }

a {
  @apply text-blue underline;
}

a:hover {
  @apply text-blue-dark underline;
}

button {
  @apply border bg-grey-light border-grey rounded-sm py-1 px-2 text-black;
}

.nudge-d-1 {
  position: relative;
  top: 1px;
}

.nudge-d-2 {
  position: relative;
  top: 2px;
}

.nudge-u-1 {
  position: relative;
  top: -1px;
}

.nudge-u-2 {
  position: relative;
  top: -2px;
}

.nudge-l-1 {
  position: relative;
  right: 1px;
}

.nudge-l-2 {
  position: relative;
  right: 2px;
}

button:hover {
  @apply bg-grey border-grey-dark text-black;
}

button[disabled], button[disabled]:hover {
  @apply bg-grey-light-2 text-grey-dark border-grey-light cursor-default;
}

.input {
  @apply border border-grey px-1;
}

.input.icon {
  @apply pl-6;
}

.field.invalid label {
  @apply text-red;
}

.field.invalid .input {
  @apply border-red border-2;
}

.bg-img-household {
  background-image: url(/img/house.svg);
}

.bg-img-household-bw {
  background-image: url(/img/house-bw.svg);
}

.bg-img-product {
  background-image: url(/img/bottle.svg);
}

.bg-img-order {
  background-image: url(/img/cart.svg);
}

.bg-img-order-bw {
  background-image: url(/img/cart-bw.svg);
}

.bg-img-household-order {
  background-image: url(/img/list.svg);
}

.bg-img-payment {
  background-image: url(/img/wallet.svg);
}

.bg-img-list {
  background-image: url(/img/list.svg);
}

.rotating {
  -webkit-animation: rotate 1.5s linear infinite; 
          animation: rotate 1.5s linear infinite; 
}

@-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
@keyframes         rotate{ to{        transform: rotate(360deg); } }

.crossed-out {
  position: relative;
  @apply text-grey-dark !important;
}

.crossed-out a {
  @apply text-blue-darker !important;
}

.crossed-out::after {
  position: absolute;
  content: '.';
  color: transparent;
  left: 0.5rem;
  right: 0.5rem;
  /* top: .5rem; */
  @apply border-grey-dark border-b;
}

.crossed-out-1 {
  position: relative;
  @apply text-grey-dark;
  /* @apply text-grey-dark !important; */
}

.crossed-out-1 a {
  /* @apply text-blue-darker !important; */
}

.crossed-out-1::after {
  position: absolute;
  content: '.';
  color: transparent;
  left: 0;
  right: 0;
  top: -.5rem;
  z-index: 1;
  @apply border-grey-dark border-b;
}

.collective-orders-header {
  @apply absolute text-white p-2 z-10;
  background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0%;
  transform: rotate(90deg);
  width: 100vh;
  transform-origin: left top;
  left: 100vw;
  top: 0;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 1.3rem;
  height: 4.5rem;
  pointer-events: none;
}

.transition-height {
  height: 0;
  overflow: hidden;
  transition: height 0.25s 0.25s ease-out;
}

.shadow-inner-top {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px inset;
}

.shadow-sm-inner-top {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px inset;
}

.shadow-inner-bottom {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 5px 0px inset;
}

.shadow-sm-inner-bottom {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px -2px 0px inset;
}

.desaturate {
  filter: saturate(0);
}

.sepia {
  filter: sepia(100%);
}